#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2019–2020 Target
# SPDX-FileCopyrightText: 2021 The Nix Community
# SPDX-License-Identifier: Apache-2.0
export BUILD_DATE=$(shell date -u +"%Y-%m-%dT%H:%M:%SZ")
export GIT_BRANCH=$(shell git rev-parse --abbrev-ref HEAD)
export GIT_REVISION=$(shell git rev-parse --short HEAD)
export VERSION=$(shell cat VERSION)
if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
elif type -P nix &>/dev/null; then
  use nix
else
  echo "Found no nix binary. Skipping activating nix-shell..."
fi
